body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

header {
  background-color: #2ecc71; /* Verde suave */
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #333; /* Cinza escuro */
  text-decoration: none;
}

nav ul li a:hover {
  color: #3498db; /* Azul suave (ao passar o mouse) */
}

main {
  padding: 20px;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #2ecc71; /* Verde suave */
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
